.nav {
  display: flex;
  background-color: var(--navbarColor);
  color: #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: var(--navLinkColor);
}

.shorttitle {
  display: none;
}

@media screen and (max-width: 640px) {
  .shorttitle {
    display: inline-block;
  }
  .fulltitle {
    display: none;
  }
  .nav > ul{
    gap: 1rem;
  }
}
